<MudToolBar WrapContent Dense Gutters>
    <h3>@Label</h3>
    <MudSpacer />
    @Actions
</MudToolBar>

@code {
    [EditorRequired][Parameter] public required string Label { get; set; }
    [Parameter] public RenderFragment? Actions { get; set; }
}